<h2 class="job-title">
	AAAA-BBBB-CCCC-DDDD
	<div class="outcome-icon-container pull-left">
		<div class="outcome-icon has-issues">
		</div>
		<div class="issue-decorator malware" style="background-position: bottom right;">
		</div>
		<div class="issue-decorator password-required" style="background-position: top left;">
		</div>
		<div class="issue-decorator general-issues last" style="background-position: bottom left;">
		</div>
	</div>
	<span class="pull-right">
		<a href ng-click="showNFV()">
			<span class="glyphicon glyphicon-cloud-upload"></span>
			<span class="sr-only">Send to NFV</span>
		</a>
	</span>
</h2>
<p>
	Here is a carat baby!<span class="carat"></span>
</p>