<h2 class="job-title clearfix">
	AAAA-BBBB-CCCC-DDDD
	<span class="outcome-icon-container pull-left">
		<span class="outcome-icon has-issues">
		</span>
		<span class="issue-decorator malware" style="background-position: bottom right;">
		</span>
		<span class="issue-decorator password-required" style="background-position: top left;">
		</span>
		<span class="issue-decorator general-issues last" style="background-position: bottom left;">
		</span>
	</span>
	<span class="divorced-controls">
		<a href ng-click="showNFV()">
			<span class="glyphicon glyphicon-cloud-upload"></span>
			<span class="sr-only">Send to NFV</span>
		</a>
	</span>
</h2>
<div class="clearfix"></div>
<h2 class="job-title">
	IAM-CLEAN
	<span class="outcome-icon-container pull-left">
		<span class="outcome-icon clean">
		</span>
	</span>
	<span class="divorced-controls">
		<a href ng-click="showNFV()">
			<span class="glyphicon glyphicon-cloud-upload"></span>
			<span class="sr-only">Send to NFV</span>
		</a>
	</span>
</h2>