/**
 * Define the styles for the site.
 */
/**
 * Define the colours to be used by the site.
 */
html {
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  height: 100%;
  font-size: small;
}
body .container, body .container-fluid {
  min-height: 100%;
  position: relative;
}

.table thead > tr {
  background-color: #428bca;
  color: white;
}
.table thead > tr a {
  background-color: #428bca;
  color: white;
}
.table thead > tr a:hover {
  color: red;
}
.table thead > tr a:hover .text-muted {
  color: red;
}

.table-hover tbody > tr:hover > td {
  background-color: #428bca;
  color: white;
}

.quick-search {
  margin-top: 15px;
  margin-left: 15px;
}

.in-progress {
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./sprites/hour-glass-icon.png");
}

.malware {
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./sprites/burn-icon.png");
}

.error {
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./sprites/exclamation-icon.png");
}

.failed {
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./sprites/minus-white-icon.png");
}

.downloadable {
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./sprites/archive-icon.png");
}

blockquote.criteria {
  border: 5px solid #eeeeee;
}

/**
 * Define the styles for the forms on the site.
 */
form input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  /* future proofing */
}
form .ng-invalid {
  border-color: #cc0000;
}
form .ng-valid {
  border-color: #00cc00;
}
form .errorMessage {
  color: #cc0000;
}
form .errorMessage.ng-invalid {
  display: inline;
}
form .errorMessage.ng-valid {
  display: none;
}
form .help-block {
  font-size: 80%;
}

/**
 *  Define the specific style for the footers.
 */
#main-area {
  margin-bottom: 30px;
}

#footer {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
}
#footer .row {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  /* future proofing */
  background-color: #428bca;
  color: white;
  margin: 0;
}

/**
 * Define the styles for the tree browser widget.
 */
