/**
 * Define the styles specifically for the import details views.
 */
 
 /**
  * Use these variables for the image urls
  */
  $clean-file: url("./sprites/64px-ticked-file.png");
  $processing-file: url("./sprites/64px-hourglass-file.png");
  $failed-file: url("./sprites/64px-failed-file.png");
  $issues-file: url("./sprites/64px-file.png");
  $malware-decorator: url("./sprites/32px-radiation.png");
  $active-threat-decorator: url("./sprites/32px-active-eye.png");
  $inactive-threat-decorator: url("./sprites/32px-inactive-eye.png");
  $password-required-decorator: url("./sprites/32px-padlock.png");
  $general-issues-decorator: url("./sprites/32px-exclamation.png");
  $main-icon-height: 83px;
  $main-icon-width: 64px;
  $decorator-icon-height: 32px;
  $decorator-icon-width: 32px;
  
 /**
  * Define the outcome decorators to use on the main h2 for the import details.
  */
.outcome-icon {
	background-repeat: no-repeat;
	background-position: center;
	height: $main-icon-height + 10px;
	width: $main-icon-width + 10px;
	position: absolute;

	&.clean {
		background-image: $clean-file;
	}
  	
	&.failed {
  		background-image: $failed-file;
	}

  	&.processing {
  		background-image: $processing-file;
  	}

  	&.has-issues {
  		background-image: $issues-file;
  	}
}

  	.issue-decorator {
		background-repeat: no-repeat;
		height: $main-icon-height + 10px;
		width: $main-icon-width + 10px;
		position: absolute;
		background-color: transparency;
  		
  		&.malware {
  			background-image: $malware-decorator;
  		}	
  		&.active-threat {
  			background-image: $active-threat-decorator;
  		}
  		&.inactive-threat {
  			background-image: $inactive-threat-decorator;
  		}
  		&.password-required {
  			background-image: $password-required-decorator;
  		}
  		&.general-issues {
  			background-image: $general-issues-decorator;
  		}
  	}

.outcome-icon-container {
	height: $main-icon-height + 10px;
	width: $main-icon-width + 10px;
}

.job-title {
	vertical-align: middle;
}
