$footerHeight: 30px;
$activeColor: #428bca;
$standardMargin: 15px;

@mixin highlight {
	background-color: $activeColor;
	color: white;
}

@mixin roundedCorners($amount) {
	-moz-border-radius: $amount;
	-webkit-border-radius: $amount;
	-khtml-border-radius: $amount; 
	//CSS3 support
	border-radius: $amount; /* future proofing */
}

html {
	height: 100%;
}

body {
  /* Margin bottom by footer height */
  height: 100%;
  
  //Define the holder div which is the first (and only) div in the body.
  .container,.container-fluid {
  	min-height: 100%;
  	position: relative;
  }
}

#main-area {
  margin-bottom: $footerHeight;
}

#footer {
  height: $footerHeight;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-right: $standardMargin;
  padding-left: $standardMargin;
  
  .row {
    @include roundedCorners(5px);
    @include highlight;
    margin: 0;
  }
}

.table {
	thead>tr {
		@include highlight;
		a {
			@include highlight;
		}
		a:hover {
			color: red;
			.text-muted {
				color: red;
			}
		}
		
	}
}
.table-hover {
	tbody>tr:hover>td {
		@include highlight;
	}
}

form {
	input {
		@include roundedCorners(4px);
	}
}

.quick-search {
	margin-top: $standardMargin;
	margin-left: $standardMargin;
}