$footerHeight: 30px;
$activeColor: #428bca;

body {
  /* Margin bottom by footer height */
  margin-bottom: $footerHeight;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 98%;
  padding-right: 15px;
  /* Set the fixed height of the footer here */
  height: $footerHeight;
}

.table-hover>tbody>tr:hover>td {
	background-color: $activeColor;
	color: white;
}